body {
  font-family: "Lato", sans-serif;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}

/*SIDENAV */

#menuName {
  color: #818181;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color:#e7eb0e;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
  color: #000;
}


/* HOME*/

#appContainer {
  background-color: #111;
  text-align: center;
  align-content: center;
  margin-top: 90px;
  color: #818181;
}

#profilePicCol {
  text-align: center;
  max-width: 30%;
}

#ProfilePicHome {
  max-width: 90%;
  min-width: 50%;
}




 /*FOOTER*/

 #bottomNav {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottomNav a {
  float: left;
  display: block;
  width: 19%;
  color: #e7eb0e;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: underline;
  font-size: 17px;
}

#bottomNav a:hover {
  background: #444;
  color: #000000;
}

#FootText {
  text-decoration: underline;
  font-size: larger;
  margin-left: 5px;
}

 /* CSS for small mobile horizontal screen */

 @media only screen and (max-width: 768px) and (orientation: landscape) {
  #header {
    padding-bottom: -10px !important;
    padding-top: -10px !important;
  }

  #bottomNav a {
      font-size: 12px;
  }

  /* #contactLinks {
      display: block;
      width: 15%;
      color: #e7eb0e;
      text-align: center;
      text-decoration: underline;
      font-size: 12px;
    } */

    #nameHome {
        font-size: 25px;
    }
}

@media only screen and (max-height: 768px) and (orientation: portrait) {
  /* #header {
    padding-bottom: -10px !important;
    padding-top: -10px !important;
  }    */

  /* #contactLinks {
      float: none;
      display: block;
      width: 35%;
      color: #e7eb0e;
      text-align: center;
      text-decoration: underline;
      font-size: 12px;
      margin: 15px;
    }
    #contactIcons {
        display: hidden;
      max-width: 0px;
      min-width: 0px;
    } */

    #appContainer {
      float: none;
      width: 100%;
      text-align: center;
    }

    #profilePicCol {
      text-align: center;
      max-width: 20%;
    }
    
    #ProfilePicHome {
      width: 200px;
      height: 100px;
    }
    #nameHome {
        font-size: 25px;
    }

    #bottomNav {
      overflow: hidden;
      background-color: #111;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 20%;
    }

    img {
      max-width: 60%;
    }

  #bottomNav a {
    overflow-x: hidden;
      float: none;
      display: block;
      width: 100%;
      color: #e7eb0e;
      font-size: 12px;
    }
}